# Generals
.DS_Store
.idea
.vscode

# Deps
vendor/**

# Temporary files
/tmp

# Packages
*.zip
*.tgz

# PKI
*.crt
*.csr
*.cer
*.pem
*.key
!**/testdata/*.cer
!**/testdata/*.pem

# Artifacts
/govanity
/govanity_*
dist
secret*

# Code coverage reports
coverage.*
