name: ci
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master
  workflow_dispatch: {}
jobs:
  # Runs on every push and pull request on the selected branches.
  # Can also be executed manually.
  test:
    name: code quality and correctness
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      # Go 1.14
      - name: Set up Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: ^1.14

      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v2

      # If "vendor" is in cache, restore.
      # To run conditional steps use:
      # if: steps.vendor-cache.outputs.cache-hit != 'true'
      - name: Restore vendor from cache
        id: vendor-cache
        uses: actions/cache@v2
        env:
          cache-name: vendor
        with:
          path: ./vendor
          key: ${{ env.cache-name }}-${{ hashFiles('go.sum') }}

      # Style consistency and static analysis using 'golangci-lint'
      # https://github.com/marketplace/actions/run-golangci-lint
      - name: Static analysis
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29

      # Run unit tests
      - name: Test
        run: make test

      # Ensure project compile and build successfully
      - name: Build
        run: make build-for os=linux arch=amd64

      # Save artifacts
      - name: Save artifacts
        uses: actions/upload-artifact@v2
        with:
          name: assets
          path: |
            coverage.html

      # Populate vendor cache to speed up future runs
      - name: Populate vendor cache
        run: go mod vendor
