name: release
on:
  push:
    tags:
      - '*'
jobs:
  # Publish project package(s)
  publish:
    name: publish package
    runs-on: ubuntu-latest
    timeout-minutes: 10
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      # Go 1.14
      - name: Set up Go 1.14
        uses: actions/setup-go@v2
        with:
          go-version: ^1.14

      # Checkout code
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # If "vendor" is in cache, restore.
      # To run conditional steps use:
      # if: steps.vendor-cache.outputs.cache-hit != 'true'
      - name: Restore vendor from cache
        id: vendor-cache
        uses: actions/cache@v2
        env:
          cache-name: vendor
        with:
          path: ./vendor
          key: ${{ env.cache-name }}-${{ hashFiles('go.sum') }}

      # Ensure project compile and build successfully
      - name: Build
        run: make build-for os=linux arch=amd64

      # Build and publish docker image
      - name: Build and publish image
        uses: docker/build-push-action@v1
        with:
          registry: docker.pkg.github.com
          repository: ${{ github.repository }}/govanity
          username: ${{ github.actor }}
          password: ${{ github.token }}
          push: true
          tag_with_ref: true
          add_git_labels: true

      # Use goreleaser to create the new release
      - name: Create release
        uses: goreleaser/goreleaser-action@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          version: latest
          args: release --rm-dist --skip-validate
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
